
# Основной интерфейс
streamlit

# Обработка данных
pandas
numpy

# Машинное обучение и NLP
torch
sentencepiece
sentence-transformers<3.0.0
transformers
keybert
scikit-learn
nltk

# Работа с файлами и форматами
openpyxl
-e .
